# Dependencies
node_modules/
.pnp
.pnp.js

# Builds
dist/
.next/
out/
build/
*.tsbuildinfo

# Turbo
.turbo/

# Env
.env
.env.local
.env.*.local
!.env.example

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
*-emulator-data/
serviceAccountKey.json

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage/

# OS / editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
*.swp

# Misc
.vercel

# Local Netlify folder
.netlify
